@import 'styles/mixins.scss';
@import 'styles/colors.scss';

.button{
	height:40px;
	padding: 0 10px;
	width:auto;
	text-align: center;
	display: block!important;
	justify-content: center;
	line-height:40px;
	cursor: pointer;
	border-radius: 2px;
	color:$white;
	margin: 0px 5px 0 0;
	cursor: pointer;
	/* background:linear-gradient(to bottom, #630303, #360404); */
	/* background:#711c1b; */
	@include shaddow-weak;
	@include transparent-background;
	&.primary{
		
	}
	h6{
		margin:0;
		line-height: 40px;
	}
	&.disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}
