@import 'styles/colors.scss';
@import 'styles/mixins.scss';

.navContainer{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:75px;
	color:$white;
	background:#cd963e;
	/* background:linear-gradient(to bottom, #630303, #360404); */
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	vertical-align: center;
	/* opacity:0; */
	.brand{
		position: absolute;
		left:0;
		top:0;
		vertical-align: center;
	}
	.navRight{
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		right:0;
		top:0;
		height:100%;
	}
	.brand{
		transform:translateY(-50%);
		left:0;
		top:0;
		position: absolute;	
		margin:0;
		padding:0;
	}
	.navLink{
		cursor: pointer;
		padding:5px;
		margin:5px;
		display: inline-block;
	}
	
	
	.container{
		position: relative;
	}
	.cart{
		transition: all 0.15s ease;
		&.animated{
			transition: none;
			transform:scale(1.1);
		}
	}

}

@media only screen and (max-width: 900px) {
	.navLink{
		display: none!important;
	}
}