$white: #f7f7f7;
$yellow: #f7f701;
$green: #1010f7;
$black: #101010;
$grey: #a6a6a6;
$light-grey: #ebebeb;
$primary: #acbacb;
$pale-gold: #c0b283;
$silk: #dcd0c0;
$paper: #f4f4f4;
$charcoal: #373737;
$white:#fff;
$red: #fe1010;
//mouse handler
$white: #f7f7f7;
$black: #101010;

$grey: #59686f;
$cream:#ebe1ce;
$maroon:#932a49;
$orange: #b4644b;
$blue:#bfc9cd;
$brown: #aca38e;
$brown2:#8e6449;
$rose:#885760;
$peach:#f5ac8c;